*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0F172A;
    font-family:'Courier New', Courier, monospace
}
header{
    display: flex;
    padding: 40px;
    justify-content: space-between;
    color: white;
    
}
nav{
    display: flex;
    
    
}
ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    border: 1px solid whitesmoke;
    padding: 15px;
    border-radius: 25px;
    align-items: center;
}
li a{
    text-decoration: none;
    color: #F8FAFC;
}
li a:hover{
    border-bottom: 2px solid white;
    font-size: 20px;
}
ul button{
    background-color: rgb(197, 245, 56);
    padding: 10px 30px;
    border-radius: 20px;
    color: black;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px;
    color: white;
    line-height: 2;
    font-size: 25px;
    max-width: 900px;
}
.hero h2{
    color: rgb(197, 245, 56);
}
.hero-btn-wrap{
    display: flex;
    padding: 50px 0px;
    gap: 40px;
    position: sticky;
}
.hero-btn-wrap button{
    border: 1px solid white;
    color: black;
    padding: 20px;
    min-width: 150px;
    border-radius: 80px;
    background-color: rgb(197, 245, 56);
}
.hero-btn-wrap button:hover{
    font-size: 20px;
    border-bottom: 1px solid white;
}
.about{
    padding: 40px;
    gap: 50px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
.about-left img{
    max-width: 500px;
    border-radius: 50px;

}
.about-right{
    color: white;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    gap: 25px;
}
.about-fcs{
    color: rgb(197, 245, 56);
}
.skills{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.skill-top{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    gap: 25px;
    color: #F8FAFC;
    line-height: 1.8
}

.skill-card-top-row{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.card{
    display: flex;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #1b283e;
    font-size: 20px;
    border: 1px solid white;
    opacity: 0.8;
}
.card-soon{
    display: flex;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #1b283e;
    font-size: 20px;
    border: 1px solid white;
    opacity: 0.8;
    color: white;

}
.skills-card-bottom-row{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    color: white;
}
.current-skill{
    display: flex;
    color: rgb(197, 245, 56);
}
