*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family:'Courier New', Courier, monospace
}
body{
    background-color: #0F172A;

}
header{
    display: flex;
    padding: 40px;
    justify-content: space-between;
    color: white;
    
}
nav{
    display: flex;
    
    
}
.nav-ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    border: 1px solid whitesmoke;
    padding: 15px;
    border-radius: 25px;
    align-items: center;
}
li a{
    text-decoration: none;
    color: #F8FAFC;
}
li a:hover{
    border-bottom: 2px solid white;
    font-size: 20px;
}
ul button{
    background-color: rgb(197, 245, 56);
    padding: 10px 30px;
    border-radius: 20px;
    color: black;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px;
    color: white;
    line-height: 2;
    font-size: 25px;
    max-width: 900px;
}
.hero h2{
    color: rgb(197, 245, 56);
}
.hero-btn-wrap{
    display: flex;
    padding: 50px 0px;
    gap: 40px;
    position: sticky;
}
.hero-btn-wrap button{
    border: 1px solid white;
    color: black;
    padding: 20px;
    min-width: 150px;
    border-radius: 80px;
    background-color: rgb(197, 245, 56);
}
.hero-btn-wrap button:hover{
    font-size: 20px;
    border-bottom: 1px solid white;
}
.about{
    padding: 40px;
    gap: 50px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
.about-left img{
    max-width: 500px;
    border-radius: 50px;

}
.about-right{
    color: white;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    gap: 25px;
}
.about-fcs{
    color: rgb(197, 245, 56);
}
.skills{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.skill-top{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    gap: 25px;
    color: #F8FAFC;
    line-height: 1.8
}

.skill-card-top-row{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.card{
    display: flex;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #1b283e;
    font-size: 20px;
    border: 1px solid white;
    opacity: 0.8;
}
.card-soon{
    display: flex;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #1b283e;
    font-size: 20px;
    border: 1px solid white;
    opacity: 0.8;
    color: white;

}
.skills-card-bottom-row{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    color: white;
}
.current-skill{
    display: flex;
    color: rgb(197, 245, 56);
}
.projects{
    display: flex;
    color: white;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    max-width: 600px;
   
}

.projects-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: stretch;
}
.project-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    line-height: 1.8;
    gap: 20px;
    

}
.project-card img{
    width: 400px;
    height: 280px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.project-card-ul{
    
}
.card-btn-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: auto;
}
.card-btn-left{
    padding: 10px 40px;
    background-color: white;
    color: black;border-radius: 20px;
}
.card-btn-right{
    padding: 10px 40px;
    
    border-radius: 20px;
    background-color: rgb(197, 245, 56);
}
.card-btn-left:hover{

}
.card-btn-right:hover{
    
}


.learning-journey{
    padding: 40px;

}
.journey-header{
    margin-bottom: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;

}
.timeline{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    color: rgb(197, 245, 56);
    
}
.timeline-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 1.4;
}
.timeline::before {
    content: "";
    position: absolute;
    width: 2px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
}
.timeline-item::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #dfff00;
    top: 40px;
    z-index: 2;
}
.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px 40px;
    z-index: 1;
}
.timeline-item.left {
    left: 0;
}
.timeline-item.right {
    left: 50%;
}
.timeline-item.left::after {
    right: -8px;
}
.timeline-item.right::after {
    left: -6px;
}

.dev-workflow{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    color: white;
    
}
.workflow-wrap{
    display: flex;
    gap: 20px;
    flex-direction: row; 
}
.workflow-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 20px;
    

}
.workflow-num{
    padding:25px;
    border-radius: 260px;
    font-size: 25px;
    background-color: #dfff00;
    color: black;
}
.contact{
    display: flex;
    
    color: white;
    gap: 30px;
    justify-content: center;
}
.contact-wrap{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 800px;
}
.contact-wrap h2{
    color: #dfff00;
    font-size: 80px;
}
.contact-wrap ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.connect-content{
    max-width: 500px;
}
footer{
    display: flex;
    justify-content: center;
    color: white;
    border-top: 1px solid #dfff00;
    padding: 20px;
}









